html {
   scroll-behavior: smooth;
}

body {
   margin: 0 auto;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: "Lato", sans-serif;
}

a,
a:hover {
   text-decoration: none;
}

ul,
li {
   display: block;
   margin: 0;
   padding: 0;
   list-style-type: none;
}
